:root {

    /* Global */
    --page: url('full2.png'); /* The page Background Color */
    --glass-filter: blur(10px) brightness(80%);
    --input-color: #fff;
    --transparent: rgb(0, 0, 0, 0);
  
    /* Search */
    --search: #4545459e;
  
    /* Navbar */
    --nav: rgba(255, 255, 255, 0.02);
    --nav-color: #fff; /* Icons Etc */
  
    /* Interstellar Text */
    --title: #fff;
    --splash: #555;
  
    /* Elements */
    --card: #2a2a2a;
    --card-button: #333;
    --card-button-text: #fff;
  
    /* Text ON THE BACKGROUND */
    --text-primary: #fff;
    --text-secondary: #b0b0b0;
  
    /* Text ON A CARD / ELEMENT */
    --card-text: #fff;
    --card-text-dark: #aaa;
    --placeholder: #888;
  }
  