---
import Layout from "../layouts/Layout.astro";
---

<!-- <script src="assets/scripts/apps.js?v=12"></script> -->
<Layout>
  <script src="../scripts/apps.js"></script>
  <div class="input-container">
    <input
      type="text"
      id="searchbarbottom"
      onkeyup="search_bar()"
      placeholder="Search"
    />
    <select id="category" name="category" onchange="show_category()">
      <option value="all">All</option>
      <option value="android">Android Emulator</option>
      <option value="social">Social</option>
      <option value="stream">Streaming</option>
      <option value="message">Messaging</option>
      <option value="game">Game Sites</option>
      <option value="cloud">Cloud Gaming</option>
      <option value="tool">Tools</option>
      <option value="media">Media</option>
      <option value="AI">AI</option>
      <option value="emu">Emulator</option>
    </select>
  </div>
  <div class="pinned-apps"></div>
  <div class="container-apps"></div>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-WKJQ5QHQTJ"
  ></script>
  <!-- <script>
    window.dataLayer = window.dataLayer || []

    function gtag() {
        dataLayer.push(arguments)
    }
    gtag('js', new Date())
    gtag('config', 'G-WKJQ5QHQTJ')
    </script>
    <script src="/assets/scripts/global.js?v=8"></script> -->
</Layout>
