---
// src/layouts/SiteLayout.astro
import Header from "../components/Header.astro";
import Global from "/assets/scripts/global.js?url";
import Bundle from "/assets/m/bundle.js?url";
import Config from "/assets/m/config.js?url";
const { title } = Astro.props;
---
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title id="tab-title">{title}</title>
		<link rel="stylesheet" href="/assets/styles/main.css" />
		<link rel="stylesheet" href="/assets/styles/themes/default.css" />
		<link rel="stylesheet" href="/assets/styles/settings.css" />
		<meta name="generator" content={Astro.generator} />
	</head>
	
	<body>
		<Header />
		<div class="main">
			<slot />
		</div>
  		<Global />
		<Bundle />
		<Config />
		<script src="https://kit.fontawesome.com/1237c86ba0.js" crossorigin="anonymous"></script>
  		<script async src="https://www.googletagmanager.com/gtag/js?id=G-WKJQ5QHQTJ"></script> 
		<script src="../m/bundle.js"></script>
		<script src="../m/config.js"></script>
  		<!-- <script src="/assets/scripts/settings.js"></script>
		-->
	</body>
</html>